@import url(http://fonts.googleapis.com/css?family=Raleway);
@media print {
   table { font-size: 8pt}
  .table>tbody>tr>td{padding: 0}
  
 }


.wrapper{
min-height: 960px;
}
form#empForm, form#editForm {
padding: 0 35px 15px;
}
label.gender {
padding-top: 0 !important;
}
table tr th{
    background: #f8f8f8;
}
.search-box {
    padding-bottom: 0;
}
@media screen and (max-width: 368px){
.wrapper{
    min-width: 340px;
}   
}

.badge-info {
  background-color: #3a87ad;
}

.nopadding {
  /* padding: 0 !important;*/
   margin: 0 !important;
}

.switchoff {
	background-color:#ffffff;
	border-color:#4cae4c;
	color:#333;
}

